* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
#navbar {
    height: 60px;
    background-color: #0f1111;
    color: #ffffff;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.navtext1 {
    font-size: 12px;
    color: #ffffff;
    margin-top: 9px;
    margin-left: 25px;
}
.navtext2 {
   
    margin-left: 6px;
    font-weight: 700;
    color: #ffffff;
    font-size: 13px;
}
.navlogo {
    height: 50px;
    width: 113px;
    margin-left: 12px;
    background-size: cover;
    
}
@media (max-width: 800px) {
    .navlogo {
      width: unset;
    }
}
.amazon-logo {
    width: 108px;
    margin-top: 5px;
}
.amazon-mobile-logo {
    display: none;
}
@media (max-width: 575px) {
    .amazon-logo {
      display: none;
    }
  
    .amazon-mobile-logo {
      display: block;
      height: 35px;
      margin-top: 5px;
    }
}
.navloc {
    height: 50px;
    width: 87px;
    margin-left: 3px;
}
.icon {
    margin-left: 8px;
    display: flex;
}
#deliver {
    color: #cccccc;
}
#Country {
    font-size: 14px;
}
.border {
    border: 1px solid transparent;
    border-radius: 2%;
    margin-top: 2px;
}
.border:hover { 
    border: 1px  solid #ffffff;
}
#navsearch {
    display: flex;
    width: 900px;
    height: 40px;
    border-radius: 7px;
    justify-content: space-evenly;
    margin-left: 16px;
}


.searchbar {
    width: 100%;
    font-size: 14px;
    border: none;
}
.searchbar:focus {
    outline: 2px solid rgb(255, 153, 0);
}
#navsearch button {
    cursor: pointer;
    background-color: #febd68;
    width: 50px;
    border:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.25rem;
}
#navsearch button:hover {
    background-color: rgb(246, 158, 51);
}
#navlang {
    display:flex;
    width: 85px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
#flag {
    height: 14.2px;
    width: 21.5px;
    background-image: url("images/download.png");
    background-size: cover;
}
#lang {
    height:16px;
    font-size: 13px;
    font-weight: 700;
    margin-left: 4px;
}
.dropdown {
    margin-bottom: 17px;
    align-self: flex-end;
    font-size: 9px;
    margin-left: 3px;
    color: #bebebe;
}
#Account {
    width: 140px;
    height: 50px;
    display: flex;
}
#hello {
    margin-left: 4px;
}
#orders {
    width: 77px;
    height: 50px;
}
#navcart {
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.cartlogo {
    width: 50px;
}
.cart-quantity {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
    
    position: absolute;
    top: 12px;
    right: 42px;
    
    width: 26px;
    text-align: center;
}
.cart {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 0px;
}
#panel {
    color: #ffffff;
    background-color: rgb(40, 42, 61);
    height: 40px;
    display: flex;
}
#menu {
    font-size: 20px;
    height:39px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.pantext1 {
    margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
    align-self: flex-end;
    margin-bottom: 12px;
    margin-right: 9px;
}
#panop {
    height: 40px;
    width: 1300px;
    display: flex;
    flex-direction: row;
}
.box {
    display:flex;
    justify-content: center;
    align-items: center;
}
.pantext2 {
    font-size: 14px;
    margin:8px;
}
select {
    color: rgb(33, 33, 33);
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(213, 217, 217);
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  }
.cat {
    cursor: pointer;
    height: 40px;
    width: 57px;
    background-color: #f3f3f3;
    border: none;
    padding-left: 5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #bebebe;
}